body {
    margin: 0px;
    padding: 0px;
}
.clear {
    clear: both;
}
div.file_explorer {
    background: #eee;
    padding: 6px 9px;
    position: relative;
    margin-top: 52px;
}
div.file_explorer div.explorer_item {
    display: block;
    padding: 5px 1px 4px 32px;
    background-repeat: no-repeat;
    background-color: #fff;
}
div.file_explorer div.explorer_item a.explorer_item {
    text-decoration: none;
    color: #000;
}
div.file_explorer div.explorer_item:hover {
    background-color: #eef;
}
div.file_explorer div.explorer_item.directory {
    font-weight: bold;
    background-image: url(/static/images/directory.png);
    background-position: 3px 3px;
}
div.file_explorer div.explorer_item.file {
    background-image: url(/static/images/file.png);
    background-position: 5px 2px;
}
div.file_explorer div.explorer_item div.name {
    margin-right: 200px;
}
div.file_explorer div.explorer_item div.name span {}
div.file_explorer div.explorer_item div.toolbar {
    float: right;
}
div.file_explorer div.explorer_item div.toolbar {}
div.file_explorer div.explorer_item div.toolbar button {}
div.file_explorer div.explorer_item div.toolbar button.rename {}
div.file_explorer div.explorer_item div.toolbar button.delete {}

form.upload_form {
    display: inline-block;
}

div.top_toolbar {
    background: rgba(200, 200, 200, 0.9);
    width: 100%;
    min-height: 42px;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0px;
    box-shadow: 0px 2px 10px #888;
    z-index: 10;
}
div.top_toolbar .top_toolbar_block {
    display: inline-block;
    margin-left: 16px;
    padding: 8px 7px;
    border-left: 4px solid #5af;
    min-height: 24px;
}
div.top_toolbar .top_toolbar_block:first-child {
    margin-left: 0px;
    border-left: none;
}
div.top_toolbar .top_toolbar_block.right {
    float: right;
}

button, input[type="submit"] {
    border: none;
    min-height: 26px;
    border-radius: 4px;
    padding: 4px 12px;
    margin: 0px;
    cursor: pointer;
}
button:hover, input[type="submit"]:hover {
    background: #5af;
    color: #fff;
}