{% extends 'base.html' %}
{% block body %}

<div class="top_toolbar">
    <div class="top_toolbar_block">
        <button id="btn_new_directory">New folder</button>
    </div>
    <div class="top_toolbar_block">
        <span>Upload a file: </span>
        <form class="upload_form" action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
    </div>
    <div class="top_toolbar_block">
        <button id="btn_upload">Upload a file</button>
    </div>
    <div class="top_toolbar_block right">
        <a href="/logout">Log out</a>
    </div>
    <div class="clear"></div>
</div>

<div class="file_explorer">
    <input name="dir" type="hidden" value="{{data['dir']}}">
    {% for dirname in data['dirnames'] %}
        <div class="explorer_item directory">
            {% if dirname != ".." %}
                <div class="toolbar">
                    <button class="rename"
                        onclick="renameEntry('{{data['dir']}}', '{{dirname}}');"
                        >Rename</button>
                    <button class="delete"
                        onclick="deleteEntry('{{data['dir']}}', '{{dirname}}');"
                        >Delete</button>
                </div>
            {% endif %}
            <a href="{{dirname}}" class="explorer_item" data-name="{{dirname}}">
                <div class="name">
                    <span>{{dirname}}</span>
                </div>
                <div class="clear"></div>
            </a>
        </div>
    {% endfor %}

    {% for filename in data['filenames'] %}
        <div class="explorer_item file" data-name="{{filename}}">
            <div class="toolbar">
                {% if 'public_files' in data['dir_options'].keys() and filename in data['dir_options']['public_files'].keys() %}
                    <a href="/public/{{data['dir_options']['public_files'][filename]}}/{{filename}}">Public link</a>
                    <button class="remove_public_link" onclick="removePublicLink('{{data['dir']}}', '{{filename}}'); return false;">Remove public link</button>
                {% else %}
                    <button class="make_public_link" onclick="makePublicLink('{{data['dir']}}', '{{filename}}'); return false;">Make public link</button>
                {% endif %}
                <button class="rename"
                    onclick="renameEntry('{{data['dir']}}', '{{filename}}');"
                    >Rename</button>
                <button class="delete"
                    onclick="deleteEntry('{{data['dir']}}', '{{filename}}');"
                    >Delete</button>
            </div>
            <a href="{{filename}}" class="explorer_item" data-name="{{filename}}">
                <div class="name">
                    <span>{{filename}}</span>
                </div>
                <div class="clear"></div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}