{% extends 'base.html' %}
{% block body %}

<div class="toolbar">
    <button id="btn_new_directory">New folder</button>
    <button>Cut</button>
</div>

<div class="file_explorer">
    <input name="dir" type="hidden" value="{{data['dir']}}">
    {% for dirname in data['dirnames'] %}
        <div class="explorer_item directory">
            {% if dirname != ".." %}
                <div class="toolbar">
                    <button class="rename">Rename</button>
                    <button class="delete">Delete</button>
                </div>
            {% endif %}
            <a href="{{dirname}}" class="explorer_item" data-name="{{dirname}}">
                <div class="name">
                    <span>{{dirname}}</span>
                </div>
                <div class="clear"></div>
            </a>
        </div>
    {% endfor %}

    {% for filename in data['filenames'] %}
        <div class="explorer_item file" data-name="{{filename}}">
            <div class="toolbar">
                {% if 'public_files' in data['dir_options'].keys() and filename in data['dir_options']['public_files'].keys() %}
                    <a href="/public/{{data['dir_options']['public_files'][filename]}}/{{filename}}">Public link</a>
                    <button class="remove_public_link" onclick="removePublicLink('{{data['dir']}}', '{{filename}}'); return false;">Remove public link</button>
                {% else %}
                    <button class="make_public_link" onclick="makePublicLink('{{data['dir']}}', '{{filename}}'); return false;">Make public link</button>
                {% endif %}
                <button class="rename">Rename</button>
                <button class="delete">Delete</button>
            </div>
            <a href="{{filename}}" class="explorer_item" data-name="{{filename}}">
                <div class="name">
                    <span>{{filename}}</span>
                </div>
                <div class="clear"></div>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}